*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1200px;
    /* background: cadetblue; */
    height: 800px;
    margin: 0.5em auto;
    padding: 0.5em;
}
#header{
    height: 15%;
    background: cyan;
    border-radius: 1em;
    margin: 0.5em;
    padding: 10px;
    text-align: center;
    color: darkred;
    font: italic;
}
#titheader{
    text-align: left;
    float: right;
    width: 80%;
}
#logo{
    float: left;
    width: 18%;
}
#nav{
    height: 10%;
    background: chocolate;
    border-radius: 1em;
    margin: 0.5em;
    color: darkblue;
    font: medium;
    padding: 10px;
}
#contenido{
    height: 50%;
    border-radius: 1em;
    margin: 0.5em;
    background: darkgreen;
    padding: 10px;
}
#footer{
    height:10%;
    background: darkseagreen;
    color: blue;
    border-radius: 1em;
    margin: 0.5em;
    padding: 1em;
}
#section{
    height: 96%;
    width: 60%;
    background: aquamarine;
    border-radius: 1em;
    float: left;
    margin: 0.5em;
    padding: 5px;
    color: blue;
}
#aside{
    height: 96%;
    width: 35%;
    background: chartreuse;
    border-radius: 1em;
    float: right;
    margin: 0.5em;
    padding: 5px;
    color: purple;
}
#logo{
    float: left;
    padding: 5px;
}
#art1{
    font: italic;
    color: purple;
    padding: 5px;
    margin: 0.5em;
}
#art2{
    font: status-bar;
    color: red;
    padding: 5px;
    margin: 0.5em;
}
#art3{
    font: icon;
    color: yellow;
    padding: 5px;
    margin: 0.5em;
}
#art4{
    font: unset;
    color: blue;
    padding: 5px;
    margin: 0.5em;
}